.pagination {
    margin-bottom: 10px;
}
.table-wrapper{
    border: thin solid #c5d0db;
}

.user-table{
    width: 99%;
}

.xsui-table-cell {
    padding: unset
}

.xsui-table-rows__row {
    cursor: pointer;
}